@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Manrope", serif;
  color: white;
}

.container {
  width: var(--container);
  margin: 0 auto;
  padding: 0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 77px;
  z-index: 1000;
}

.navbar.scrolled {
  background-image: var(--background-color);
  box-shadow: 0 4px 6px rgba(116, 116, 116, 0.1);
}
.logo a img {
  width: var(--logo-width);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 60px;
}

.contact-btn {
  width: 200px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px 10px 10px 0px;
  border-radius: var(--border-radius);
  cursor: pointer;
  text-transform: uppercase;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  position: relative;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  display: block;
  font-size: var(--primary-font-size);
}

/* Dropdown Menu */
.dropdown {
  list-style: none;
  background-image: var(--background-color);
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  border-radius: var(--border-radius);
  padding: 10px 0;
  min-width: 200px;
}

.dropdown li {
  padding: 0;
}

.dropdown a {
  color: white;
  padding: 10px 20px;
  font-size: var(--small-font-size);
}

.dropdown a:hover {
  background-color: #333;
}

/* Show dropdown on hover */
.nav-links li:hover .dropdown {
  display: block;
}

/* Responsive Design */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0 10px;
}

.menu-toggle i {
  color: white;
  font-size: 1.2rem;
}

/* hero  */

/* Hero Section */
.hero {
  height: 100dvh;
  display: flex;
  justify-content: start;
  align-items: center;
  color: white;
  padding: 0 20px;
  position: relative;
  overflow: hidden;
}
.ambient-canvas {
  height: 100dvh;
  overflow: hidden;
}
/* Optional: Add a subtle overlay for better contrast */
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(19, 27, 50, 0.4) 0%,
    #10172a 91.31%
  );
  z-index: 1;
}

/* Content Styling */
.hero .container {
  position: relative;
  z-index: 2; /* Ensures text is above the overlay */
  max-width: var(--container);
  margin: 0 auto;
  text-align: left;
}

.hero-text {
  font-size: var(--h6-font-size);
  font-weight: 300;
  margin-bottom: 26px;
  letter-spacing: 0.1rem;
  opacity: 0.8;
}

.hero-title {
  font-size: var(--h1-font-size);
  font-weight: 200;
  line-height: 1.2;
}

/* Smooth Animation on Load */
.hero-text,
.hero-title {
  animation: fadeIn 1.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  padding-top: 100px;
}
.hero-footer {
  margin-top: 139px;
}
.hero-footer img {
  margin-right: 20px;
  margin-top: 10px;
  object-fit: fill;
}
/* end hero  */

.container-section {
  background-image: var(--background-color);
}

/* title setion  */

.title-section {
  padding: 80px 210px;

  text-align: center;
}
.dot {
  background-color: #417fb4;
  width: 5px;
  height: 5px;
  margin: 10px auto;
}
.section-title {
  font-weight: 300;
  margin-bottom: 26px;
  letter-spacing: 0.1rem;
}
.section-subtitle {
  font-size: var(--h6-font-size);
  font-weight: 600;
}

/* end title section  */

/* section-common-design  */
.section-div-common {
  margin-top: 160px;
  position: relative;
  overflow: hidden;
}
.section-title-all {
  position: relative;
}
.scetion-left-side {
  position: absolute;
  left: 0;
  top: 50px;
  rotate: 270deg;
  padding: 10px 0;
  border-bottom: 1px solid white;
}
.section-title-all h2 {
  font-size: var(--h2-font-size);
  font-weight: 200;
}

/* slick slider  */

.slider-container {
  width: 100%;
  margin: auto;
  padding-top: 40px;
  padding-left: 40px;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.slick-slide img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
}

.slick-center {
  transform: scale(1.2);
}

.caption {
  margin-top: 10px;
  text-align: center;
  font-size: 1.2rem;
  color: #ddd;
}
