@media (max-width: 992px) {
    .menu-toggle {
      display: flex;
    }
    .nav-menu {
      
      padding: 0 0px;
    }
    .nav-links {
      display: none;
      flex-direction: column;
      background-image: var(--background-color);
      position: absolute;
      top: 60px;
      right: 0;
      width: 100%;
      padding: 20px 0;
    }
  
    .contact-btn {
      width: 300px;
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .nav-links li {
      text-align: center;
    }
  
    .dropdown {
      position: static;
      box-shadow: none;
    }
  
    .dropdown a {
      padding: 10px;
    }

    /* title section */

    .title-section {
      font-size: 14px;
      padding: 60px 50px;
   
    }

    .section-div-common {
      margin-top: 80px;
      
    }

    .scetion-left-side {
     display: none;
    }

    .slider-container {
    
      padding-left: 20px;
    }


    .left {
   
      right: 100px;
      margin-top: -80px;
      
    }
    .right {
      right: 75px;
      margin-top: -80px;
      
    }
  }
  